@page
@model PRN222.RoomBooking.UserRazor.Pages.User.LogoutModel

@{
    ViewData["Title"] = "Đăng xuất";
}

<h1>Đăng xuất</h1>
<p>Bạn đã đăng xuất thành công. <a asp-page="/Login">Đăng nhập lại</a></p>
